@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@theme {
  --color-themeyellow: #f5e60d;
  --color-themepurple: #502ec3;

  /* Add your custom heights here: */
  --height-hero-sm: 600px;
  --height-hero-lg: 700px;

  --font-open-sans: "Open Sans", sans-serif;
}

#icons {
  display: none;
}

#product-box:hover {
  #icons {
    display: flex !important;
  }
}
